* {
    font-family: "Rowdies", cursive;
    font-weight: 100;
}

h1 {
    text-align: center;
    font-weight: 700;
    background: linear-gradient(
        90deg,
        rgba(237, 0, 244, 1) 0%,
        rgba(5, 97, 255, 1) 100%
    );
    color: white;
    padding: 1rem 0;
}

#sub-1 {
    color: violet;
}

#sub-2 {
    color: blue;
    text-decoration: none;
}

#sub-2:hover {
    color: darkblue;
}

h3 {
    font-family: "Rowdies", cursive;
    text-align: center;
}
